<div id="main-container" style="text-align:center">
  <h1>
    <a href="https://github.com/CtrlNull/AzureDeploySignalRConnector" target="_new">
      ASP.NET Core 2.0, SignalR, & Angular
    </a>
  </h1>

  <div class="container">
    <h2>Hello {{nick}}!</h2>
    <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
      <div>
        <label for="message">Message</label>
        <input type="text" id="message" name="message" [(ngModel)]="message" required>
      </div>
      <button type="submit" id="sendmessage" [disabled]="!chatForm.valid">
        Send
      </button>
      <div class="container" *ngIf="messages.length > 0">
          <div *ngFor="let message of messages">
            <span>{{message}}</span>
          </div>
        </div>

    </form>
  </div>
<!-- Scale Page Start -->
  <div>
    <h3>SignalR Scale Connector</h3>
    <div class="row">
      <!-- Connect button -->
      <div class="col-md-3">
        <h4>Connect</h4>
        <button type="button" class="btn btn-danger">Connect</button>
      </div>
      <!-- Scale Button -->
      <div class="col-md-3">
        <h4>Scale Data</h4>
        <button type="button" class="btn btn-primary">Receive</button>
      </div>
      <!-- Send Commands -->
      <div class="col-md-3">
        <h4>Send Commands</h4>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Dropdown button
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Set Required Weight</a>
            <a class="dropdown-item" href="#">Send Ingredient</a>
            <a class="dropdown-item" href="#">Reset Tare</a>
          </div>
        </div>
      </div>
      <!-- SignalR output -->
      <div class="col-md-3">
        <h4>Scale Weight</h4>
        <div class="container" *ngIf="messages.length > 0">
          <div *ngFor="let message of messages">
            <span>{{scaleMessage}}</span>
        </div>
      </div>

    </div>
  </div>

</div>
