<div id="main-container" style="text-align:center">
  <h1>
    <a href="https://github.com/CtrlNull/AzureDeploySignalRConnector" target="_new">
      ASP.NET Core 2.0, SignalR, & Angular
    </a>
  </h1>

  <div class="container">
    <h2>Hello {{nick}}!</h2>
    <form (ngSubmit)="sendMessage()" #chatForm="ngForm">
      <div>
        <label for="message">Message</label>
        <input type="text" id="message" name="message" [(ngModel)]="message" required>
      </div>
      <button type="submit" id="sendmessage" [disabled]="!chatForm.valid">
        Send
      </button>
      <div class="container" *ngIf="messages.length > 0">
          <div *ngFor="let message of messages">
            <span>{{message}}</span>
          </div>
        </div>

    </form>
  </div>
<!-- Scale Page Start -->
  <div>
    <h3>SignalR Scale Connector</h3>
    <div class="row">
      <!-- Connect button -->
      <div class="col-md-3">
        <h4>Connect</h4>
        <button type="button" class="btn btn-danger">Connect</button>
      </div>
      <!-- Scale Button -->
      <div class="col-md-3">
        <h4>Scale Data</h4>
        <button type="button" class="btn btn-primary">Receive</button>
      </div>
      <!-- Send Commands -->
      <div class="col-md-3">
        <h4>Send Commands</h4>
        <!-- Drop down -->
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Command
          <span class="caret"></span></button>
          <ul class="dropdown-menu">
            <li><a href="#">Select Ingredient</a></li>
            <li><a href="#">Reset Tare</a></li>
          </ul>
        </div> 
      </div>
      <!-- SignalR output -->
      <div class="col-md-3">
        <h4>Scale Weight</h4>
        <div class="container" *ngIf="scalemessages.length > 0">
          <div *ngFor="let scalemessage of scalemessages">
            <span>{{scaleMessage}}</span>
        </div>
      </div>

    </div>
  </div>

</div>
